.btn {
    background: #437c90;
    color: #fffffa;
    margin: 2px;
    width: 100px;
    height: auto;
}
.nav {
    padding: 5px 0px 0px 5px;
}
.social {
    margin: 10px 0px 0px 0px;
    color: #437c90
}

body {
    background: #fffffa;
}

.banner {
    margin: 10px 0px 0px 0px;
}

.content {
    margin: 10px 0px 0px 0px;

}
.icon {
    margin: 0px 2px 0px 2px;
}

.footer {
    color: #0d5c63;
    padding: 10px 0px 0px 0px;
}

.cover {
    max-width: 250px;
    height: auto;
    margin: 5px;
}

.album {
    max-width: 250px;
    height: auto;
    margin: 5px;
}

.need-border {
    border: black solid 1px;
}

.main-list {
    font-weight: bold;
}

a {
    color: #437c90;
}

a:hover {
    color: #0d5c63;
}

.logo {
    max-height: 40px;
    max-width: auto;
}
.col-md-4 {
    border-radius: 12px;
    background: #d8d8d8;
    padding: 15px;
    box-shadow: 10px 10px #b0b0b0;
}